@function rem($rem-num) {
  $result : ($rem-num / 16) + rem;
  @return $result;
}

.top-section {
  margin-left: rem(37);
  h1 {
    padding: 0 !important;
  }
}

.search-terms {
  background-color: #10141ee8;;
  z-index: 22;
  width:80%;
  position: absolute;
  top: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-top:none;
}

form {
  display: flex;
}

header {
  display:flex;
  flex-direction: column;
  li {
    list-style-type: none;
    color: var(--true-white);
    text-decoration: underline;
    margin-bottom: rem(8);
  }
}

.trending-container {
  display:flex;
  position:relative;
  height: rem(290);
  .trending-frame {
    overflow:hidden;
    .slider {
      width:100%;
      display: flex;
      gap: rem(43);
      justify-content: space-between;
      transition: all 1s ease;
      img{
        border-radius: rem(8)
      }
    }
  }
  button {
    padding:0;
    margin:0;
    border:none;
    cursor:pointer;
    :hover {
      opacity:100%;
    }
    img {
      width: rem(44);
      opacity: 20%;
      cursor:pointer;
    }
  }
}
.circle {
  background: url("icon-bookmark-empty.png") no-repeat center;
  background-size:40%;
}
.circle:hover {
  background-color:var(--true-white) !important;
  background: url("icon-bookmark-full.png") no-repeat center;
  background-size:40%;
}
.marked {
  background-color:var(--true-white) !important;
  background: url("icon-bookmark-full.png") no-repeat center;
  background-size:40%;
}





.animate-left {
  transform : translateX(rem(470px));
}


.left-arrow {
  background-color: transparent;
  position: absolute;
  left: rem(37);
  z-index: 2;
  height: rem(290);
}

.right-arrow {
  position: absolute;
  background-color: transparent;
  right: rem(73);
  z-index: 2;
  height: rem(290);
  transform: scaleX(-1);
}