@function rem($rem-num) {
  $result : ($rem-num / 16) + rem;
  @return $result;
}

.top-section {
  margin-left: rem(37);
  h1 {
    padding: 0 !important;
  }
}

.search-terms {
  background-color: #10141ee8;;
  z-index: 22;
  width:80%;
  position: absolute;
  top: 80px;
  border-bottom: 1px solid var(--grey-blue);
  border-top:none;
}

form {
  display: flex;
}

header {
  display:flex;
  flex-direction: column;
  li {
    list-style-type: none;
    color: var(--true-white);
    text-decoration: underline;
    margin-bottom: rem(8);
  }
}

.header-logo {
  width:rem(50);
  margin: 0 auto;
}

.trending-container {
  display:flex;
  position:relative;
  height: rem(356);
  .trending-frame {
    overflow:hidden;
    .slider {
      width:100%;
      display: flex;
      gap: rem(43);
      justify-content: space-between;
      transition: all 1s ease;
      img{
        border-radius: rem(8)
      }
    }
  }
  button {
    padding:0;
    margin:0;
    border:none;
    cursor:pointer;
    :hover {
      opacity:100%;
    }
    img {
      width: rem(44);
      opacity: 20%;
      cursor:pointer;
    }
  }
}
.circle {
  background: url("icon-bookmark-empty.png") no-repeat center;
  background-size:40%;
  z-index: 999;
}
.circle:hover {
  background-color:var(--true-white) !important;
  background: url("icon-bookmark-full.png") no-repeat center;
  background-size:40%;
}
.marked {
  background-color:var(--true-white) !important;
  background: url("icon-bookmark-full.png") no-repeat center;
  background-size:40%;
  z-index:999;
}

.animate-left {
  transform : translateX(rem(470px));
}

.left-arrow {
  background-color: transparent;
  position: absolute;
  left: rem(37);
  z-index: 2;
  height: rem(290);
}

.right-arrow {
  position: absolute;
  background-color: transparent;
  right: rem(73);
  z-index: 2;
  height: rem(290);
  transform: scaleX(-1);
}

.search-icon {
  display:flex;
  align-items: center;
  img {
    display:flex;
    align-items: center;
    width: 1.7em;
  }
}

.play-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.27);
  height: 176px;
  width: 284px;
  border-radius: 5px;
  z-index: 99;
  display:flex !important;
  align-items: center;
  justify-content: center;
}

.show-hide{
  opacity:0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.27);
  height: 176px;
  width: 284px;
  border-radius: 5px;
  z-index: 99;
  display:flex !important;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.show-hide:hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.27);
  height: 176px;
  width: 284px;
  border-radius: 5px;
  z-index: 99;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 100% !important;
  cursor: pointer;
    button{
      width:117px;
      height:48px;
      background-color: rgba(255, 255, 255, 0.29);
      display:flex;
      border:none;
      border-radius: 28.5px;
      align-items: center;
      justify-content: space-evenly;
    }
    span{
      font-size: 18px;
      color: var(--true-white)
    }
}







